In [96]:
import pandas as pd
import numpy as np

file = open("kittens.in", "r")
params = list (map (int , file.readline().split()))
V = params[0]
E = params[1]
R = params[2]
C = params[3]
X = params[4]

videos = list (map (int , file.readline().split()))
endpoints = []

for i in range(0, E):
    e = list (map (int , file.readline().split()))
    f = []
    for j in range(0 , e[1]):
        f += [list (map (int , file.readline().split()))]
    endpoints += [f]
    
requests = np.zeros((V , E))

for i in range(0 , R):
    request = list (map (int , file.readline().split()))
    requests[request[0],request[1]] += request[2]

requests[0,0] += 1

In [97]:
print(requests)

[[ 1.  0.  0. ...,  0.  0.  0.]
 [ 0.  0.  0. ...,  0.  0.  0.]
 [ 0.  0.  0. ...,  0.  0.  0.]
 ...,
 [ 0.  0.  0. ...,  0.  0.  0.]
 [ 0.  0.  0. ...,  0.  0.  0.]
 [ 0.  0.  0. ...,  0.  0.  0.]]

In [4]:
test = pd.read_csv('/home/felix/anaconda2/hashcode/kittens.in')

In [5]:
test

                               10000 1000 200000 500 6000
0       936 564 1 246 665 465 347 33 834 688 331 996 8...
1                                                1645 392
2                                                    0 41
3                                                   1 497
4                                                   3 337
5                                                    4 15
6                                                   7 270
7                                                    8 61
8                                                    12 1
9                                                   13 39
10                                                 14 237
11                                                 15 426
12                                                  17 43
13                                                 18 246
14                                                 19 176
15                                                 21 259
16                                                 23 392
17                                                 24 387
18                                                 25 374
19                                                 26 262
20                                                 28 350
21                                                 29 467
22                                                 30 113
23                                                 31 100
24                                                 32 418
25                                                 34 181
26                                                 36 425
27                                                   37 3
28                                                 38 162
29                                                  39 83
...                                                   ...
552852                                      2018 794 2486
552853                                      3755 439 2624
552854                                      5629 741 8192
552855                                      4916 990 2151
552856                                      4156 987 9171
552857                                      6807 866 7428
552858                                        6595 586 40
552859                                       236 633 4944
552860                                       4733 587 642
552861                                      2718 457 1995
552862                                       8365 95 3998
552863                                      1967 954 2815
552864                                       400 271 7306
552865                                      7634 559 2162
552866                                      4837 130 9877
552867                                      3948 619 4061
552868                                      8153 827 5742
552869                                       767 365 7239
552870                                       4382 397 558
552871                                      4612 996 5001
552872                                      8634 671 1845
552873                                      2186 826 9043
552874                                       9873 33 3024
552875                                      5790 833 4918
552876                                      8687 709 6095
552877                                      1152 444 2255
552878                                       251 361 2128
552879                                      8566 637 6854
552880                                       3253 47 9626
552881                                      7055 308 1947

[552882 rows x 1 columns]